<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPcePgu52uHZcN-cYp9zcDMY8QV-nenNM</string>
	<key>GCM_SENDER_ID</key>
	<string>633365463753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myfirstapp.SuperNature</string>
	<key>PROJECT_ID</key>
	<string>supernature-dba9c</string>
	<key>STORAGE_BUCKET</key>
	<string>supernature-dba9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633365463753:ios:de52f2f83882436d52c318</string>
</dict>
</plist>